# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*************

<div>

            <div className="w-screen mt-4 bg-gray-50 flex flex-row justify-center">

                <div className="container flex flex-col space-x-6 mx-20">

                    {/* **************************left panel******************* */}

                    <div className="w-1/4 h-52 pl-2 py-4 space-y-4 shadow bg-white rounded-lg">

                        <div className="flex flex-row text-red-500 p-3  ">
                            <img src={icon} style={{ height: 100, width: 100 }} />

                            <div className="flex flex-col">
                                <b className="font-poppins text-2xl"> Rohit Balodi </b>

                                <p className=" text-black font-semibold text-xs pl-3 mr-5"> lorem lipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <button className="bg-red-500 p-2 ml-20 w-auto text-white font-semibold rounded-lg "> Edit Profile </button>
                    </div>

                    <div className="w-1/4 p-2 ">
                        <div className="border-gray-800 shadow-lg border-solid border-2 p-4 rounded"> Job Applications</div>
                        <div className="border-gray-800 shadow-lg border-solid border-2 p-4 rounded"> Shortlisted Candidates</div>
                        <div className="border-gray-800 shadow-lg border-solid border-2 p-4 rounded"> On-Hold Candidates</div>
                        <div className="border-gray-800 shadow-lg border-solid border-2 p-4 rounded"> My Jobs </div>
                        <div className="border-gray-800 shadow-lg border-solid border-2 p-4 rounded"> Edit Company Profile </div>
                    </div>

                    {/* ******************Applicants************************ */}
                    <div className="w-4/5 h-auto  ">

                        <div className="flex flex-row justify-between bg-white text-lg border-gray-200 p-3 border-solid border-2">
                            <div>100 Jobs Applications</div>
                            <div> Sort By: Latest </div>
                        </div>


                        {/* {RECRUITERS_DATA.map(job => <JobCard {...job} />)} */}
                    </div>
                </div>



                {/* ********************Applicants details- Right panel************************ */}

                
        </div>
